<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ldxx.xxalib"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CarViewActivity"
            android:label="@string/title_activity_car_view"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.TextFontsActivity"
            android:label="@string/title_activity_text_fonts"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CustomXXBallViewActivity"
            android:label="@string/title_activity_custom_xxball_view"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ThirdFrescoActivity"
            android:label="@string/title_activity_thrid_fresco"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CommonCollapsingToolbarLayoutActivity"
            android:label="@string/title_activity_common_collapsing_toolbar_layout"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CommonTabLayoutActivity"
            android:label="@string/title_activity_common_tab_layout"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CaseHomeImageShowActivity"
            android:label="@string/title_activity_case_home_image_show"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name=".service.LoadDataIntentService"
            android:exported="false"/>

        <provider
            android:name=".contentprovider.NewsContentProvider"
            android:authorities="${applicationId}.news.contentprovider"
            android:exported="false"/>
        <provider
            android:name=".contentprovider.DateDataContentProvider"
            android:authorities="${applicationId}.contentprovider.DateDataContentProvider"
            android:exported="false"/>

        <activity
            android:name=".activity.CommonRecyclerViewActivity"
            android:label="@string/title_activity_common_recycler_view"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CaseHttpActivity"
            android:label="@string/title_activity_case_http"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.CaseDataChangeActivity"
            android:label="@string/title_activity_case_data_change"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.CaseXMLActivity"
            android:label="@string/title_activity_case_xml"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>
